name: Sequential Workflow

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check code
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: action/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - name: Build project
      run: dotnet build CalculatorProject/src/CalculatorLib/CalculatorLib.csproj
  
  test: 
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: action/checkout@v4
      - name: Run tests
        run: dotnet test CalculatorProject/test/CalculatorTests/CalculatorTests.csproj
